# My Unix Home
rubygems

#
# Temp Stuff
#
*~
.*~
*.swp
*.bak
*.cache

#
# Miscellaneous
#
.CFUserTextEncoding
.DCOPserver*
.*DS_Store*
.ICEauthority
.IntelliJ*
.JIRAClient
.MacOSX
.Trash
.X*
pgadmin.log
Custom.theme

# Sublime Text 2
configuration/Sublime Text 2/Backup
*.last-run
*.sublime_session

#
# Dot files
#
.a*
.bash_history
.boswars
.cache
.config/*
.cups
.d*
.e*
.f*
# .g* - .gitignore and others should not be ignored
.gem
.gc*
.gimp*
.gn*
.gs*
.gt*

.h*
# .i* - for .inputrc
.install4j*
.j*
.k*
.l*
# .m* - for .mintty
.m2
.mcop
.mozilla
.mplayer
.multitail*
.n*
# .o*
.oracle*
# .p* - for .profile
.p2
.pip
.pki*
.pulse*
.pyenv
.q*
.Real*
.r*
!.rtbashrc
.s*
.t*
.u*
# .v* - for .vimrc
.vboxclient*
.vmc_*
.viminfo
.vnc
.w*
.x*
.y*
.zcompdump*
.zsh_history
.zsh-update

#
# Directories to ignore
#
Applications
Applications (Parallels)
Archives
Code Splices
Conferences
Desktop
development
Documents/Microsoft\ User\ Data
Documents/Parallels
Downloads
EBooks
esa-db
Google\ Drive
Library
local
mounts
Movies
Music
Network
nethome
Pictures
Public
PurchasedSoftware
Sites
Templates
tmp
Tooling
Wallpaper
winhome
WorkCenter
Workspaces

#
# Re-inclusions
#
!Templates
!.config/powerline
!.aliases
!configuration/dbvisualizer/settings.jar
