# My Unix Home
rubygems

#
# Temp Stuff
#
*~
.*~
*.swp
*.bak
*.cache

#
# Miscellaneous
#
.%*.png
.CFUserTextEncoding
.DCOPserver*
.*DS_Store*
.ICEauthority
.IntelliJ*
.JIRAClient
.MacOSX
.Trash
.X*
pgadmin.log
Custom.theme

# Sublime Text 2
configuration/Sublime Text 2/Backup
*.last-run
*.sublime_session

#
# Dot files
#
.a*
.bash_history
.boswars
.bzr*
.cache
.cargo/
.cocoapods
.config/*
.cpan/
.cups
.dbvis/*
.directory
.docker
.e*
.f*
# .g* - .gitignore and others should not be ignored
.gem
.gc*
.gimp*
.gitkraken/
.gn*
.gradle/
.groovy/
.gs*
.gt*

.h*
# .i* - for .inputrc
.idea-build/
.install4j*
.iv*
.j*
.k*
.l*
# .m* - for .mintty
.m2
.markdownNavigator
.mcop
.metadata
.minikube
.mix
.mozilla
.mplayer
.multitail*
.n*
# .o*
.oracle*
.openshift
# .p* - for .profile
.p2
.papyrus
.pip
.pki*
.psql_history
.pulse*
.pyenv
.python_history
.q*
.Real*
.r*
!.rtbashrc
.s*
# .t*
.tig*
.tmp*
.u*
# .v* - for .vimrc
.vboxclient*
.venv/
.vmc_*
.vimbackup
.viminfo
.vnc
.vscode
.vscode-react-native
.vs-kubernetes
.vsts
.w*
.x*
.y*
.zcompdump*
.zoomus
.zsh_history
.zsh-update

#
# Directories to ignore
#
Applications
Applications (Parallels)
Archives
Code Splices
Conferences
DataGripProjects/
Desktop
development
Documents/.%cb_defense
Documents/BBEdit\ Backups
Documents/cups-pdf
Documents/Microsoft\ User\ Data
Documents/Parallels
Documents/Sublime\ Projects
Downloads
EBooks
esa-db
/git
/GolandProjects
Google\ Drive*
*\ -\ Google\ Drive
Library
local
mounts
Movies
Music
MyApps
Network
nethome
Pictures
PyCharmProjects/
Public
PurchasedSoftware
Sites
sshfs/
Templates
tmp
Tooling
VirtualBox\ VMs/
Wallpaper
winhome
WorkCenter
Workspaces
*.hprof

# Part of the tmux-resurrect plugin
tmux_resurrect*
.tmux/resurrect/last

#
# Re-inclusions
#
!Templates
!.config/powerline
!.aliases
!.configuration/dbvisualizer/settings.jar
!.configuration/intellij/settings.jar
!.dbvis/Bookmarks/
!.dbvis/Monitors/
!.config/git
!.config/znt
