# Configure user information
# ATTENTION: Search for ** for OS specific settings
[user]
	; ** define a name with the OS in mind
	name = Johnnie Harris
	email = johnnie.harris@imail.org
	signingkey = BEE6BE35

# Configure core options
[core]
    ; bare defaults to false and is only used if you don't want a working directory (a server repository)
    ; bare = true

    ; the command to execute for proxy access. this variable can be set multiple times and each one will be tried until the first match works
    ; can be overriden by environment variable GIT_PROXY_COMMAND
    ; "none" can be given to specify that no proxy be used for a given domain pattern
    ; gitProxy = "ssh" for "kernel.org"

    ; enable reflog. this information can be used to determine what commit was the tip of a branch "2 days ago"
    ; working directories default to true. bare repositories default to false
    ; logAllRefUpdates = true

    ; set an ignore file outside of the working directory. it's used in addition to .gitignore and .git/info/exclude
    ; "~/" expands to home, "~user/" expands to user's home dir
	excludesfile = ~/.gitignore_global

    ; editor to launch for some commands that need the editor like commit and tag. overridden by GIT_EDITOR
    ; editor = "/path/to/editor"

    ; command used to paginate output. overridden by GIT_PAGER
    ; pager = "path/to/pager"

    ; a comma separated list of common whitespace problems to notice. git diff will use color.diff.whitespace to hightlight them
    ; and 'git apply --whitespace=error' will consider them as errors. You can prefix - to disable any of them (e.g. -trailing-space):
    ;   blank-at-eol : treats trailing whitespaces at the end of the line as an error (enabled by default)
    ;   space-before-tab : treats a space char that appears immediately before a tab char in the initial indent part of the line as an error (enable by default)
    ;   indent-with-non-tab : treats a line that is indented with 8 or more space chars as an error (NOT enabled by default)
    ;   blank-at-eof : treats blank lines added at the end of file as an error (enabled by default)
    ;   trailing-space : a short-hand to cover both blank-at-eol and blank-at-eof
    ;   cr-at-eol : treats CR at eol as part of the line terminator, i.e., with it, trailing-space doesn't trigger if char before such a CR is not a whitespace (NOT enabled by default)
    ;   tabwidth=<n> : tells how many char positions a tab occupies. relevant for indent-with-non-tab and when git fixes tab-in-indent errors. default to 8. allowed vals 1 to 63.
    ;   whitespace = blank-at-eol, space-before-tab

    ; autocrlf = default is false; true changes LF to CRLF on Windows; input only changes files with CRLF to LF on commit (input is preferred if you work with Mac/Linux)
    ;   also see core.eol which defaults to value native which means Windows EOLs are CRLF and Unix-based is LF in working trees
	autocrlf = input

    ; safecrlf = default is false; true makes sure that changes to line endings don't cause problems on binary files
    ;   **windows set to true
    ; safecrlf = true

    ; filemode = default is true; false tells git to ignore the unix filemode
    ;   **windows or cygwin set to false
    filemode = false

# Configure options for commits
[commit]
    ; status defaults to true and enables the inclusion of status information in the commit message template when using an editor to prep message
    ; status = false

    ; template specifies a file to use as a template for new commit messages. "~/" expands to $HOME and "~user/" expands to user's home
    ; template = /path/to/file

# Configure options for the git.status command
[status]
    ; show files which are not tracked. options are normal (default) - shows untracked files/dirs, no - doesn't show, all - show individual files in untracked dirs
    showUntrackedFiles = all

    ; defaults to false and shows summary for submodules
    submodulesummary = true

# Configure color output for different settings
# most settings for auto (or true) will output color only if output is a terminal
[color]
	branch = auto
	status = auto
	diff = auto
    ui = auto

    ; grep can be set to always, false (or never), auto (or true) which outputs color only if attached to a terminal
    grep = auto

# Configure your aliases
[alias]
	visual = !gitk&
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	gdiff = difftool -g --
    worddiff = diff --word-diff
	dlog = log --oneline --decorate --graph
    pushtag = push --tags
    pushih = push ihc master

# Configure merge attributes
# ** define tools based on cygwin, windows or linux
[merge]
	tool = diffmerge
	conflictstyle = diff3

[diff]
    ; follow & diff renames
    ; options are true/false which does basic rename detection, or copies (copy) which will also detect copies
    renames = copies
	tool = diffmerge

[diff "excel"]
    command = excel_cmp

# Configure http proxy settings
[http]
    ;proxy = http://lpjharri:JJk5llNn@proxylp.ihc.com:8080

# Settings to allow for instantly browsing my working repository in gitweb
[instaweb]
    ; bind only locally
    local = true

    ; set web server
    httpd = lighttpd

    ; set port to listen on
    port = 6001

    ; use browser to view. see git-web--browse for a list of acceptable values/browsers
    browser = chrome

    ; if modules needed
    ; modulepath = /path/to/modules

# Configure the web browser to use (make sure instaweb.browser matches)
[web]
    ; set to a default browser. see web--browse for more information
    browse = chrome

# Configure details for cygwin
[browser "chrome"]
	; path to the executable
	; ** make sure path is set correctly for OS
    path = /cygdrive/c/Users/lpjharri/AppData/Local/Google/Chrome/Application/chrome.exe 

    ; the absolute path to the executable
    ; cmd = /cygdrive/c/Users/lpjharri/AppData/Local/Google/Chrome/Application/chrome.exe
[push]
	default = simple
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	trustExitCode = true
    cmd = /usr/local/bin/diffmerge --merge --result="$MERGED" "$LOCAL" "$(if test -f "$BASE"; then echo "$BASE"; else echo "$LOCAL"; fi)" "$REMOTE"
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[log]
	showSignature = true
;[color "diff"]
;	old = red strike
