# Sample template I created for Azure Pipelines from one of my projects
# Note: use of trigger
# Note: use of variable groups (these are set in the UI ahead of time, but declared in variables to be used in template)
# Note Important: use of "workspace: clean: all" to clean out previous builds - not sure of all things, but AZ does retain memory of previous builds
# as I found previous builds jars in the classpath making the build unstable when migrating frameworks like springboot 2.3.1 -> 2.4.1
# Note: use of counters and special variables: '##vso[...'
# Note: mavenCreds are secret variables; defined as secret in the variables group in the UI, but used here normally

# Note: setting up approval gates:
# - for environment add user or group (for church it's Content and Media ASEs)
# - make sure you add them to permissions for the environment (environment -> security -> add user)

trigger:
  branches:
    include:
      - main

pr: none

variables:
  - name: major-minor-patch
    value: 4.1.0
  - name: revision
    value: $[counter(variables['major-minor-patch'], 1)]
  - name: fullBldVer
    value: $(major-minor-patch).$(revision)
  - group: ar-version-group
  - group: mavenCreds


name: $(TeamProject)

stages:
  - stage: 'Build_Application'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Build'
        workspace:
          clean: all
        variables:
          - group: ar-version-group
        steps:
          - script: |
              echo "##vso[task.setvariable variable=arBuildVersion;]$(fullBldVer)"
              echo "##vso[build.updatebuildnumber]$(fullBldVer)"
            displayName: 'Set BuildNumber'
          - bash: |
              curl -L -X PUT -H "Authorization: Bearer $(System.AccessToken)" -H "Content-Type:application/json" -d '{name: "ar-version-group", variables: { arBuildVersion: {isSecret: false, value: "$(fullBldVer)"}}, id: "106", type: "Vsts"}' $(System.TeamFoundationCollectionUri)$(System.TeamProject)/_apis/distributedtask/variablegroups/106?api-version=6.0-preview.1
            displayName: 'Set variable in variable group to current version number'
          - task: Gradle@2
            inputs:
              gradleWrapperFile: './gradlew'
              options: -PmavenUser=$(mavenUser) -PmavenPassword=$(mavenPassword) -s -i
              tasks: 'clean build -x test -DbuildNumber=$(arBuildVersion) -Dprod=true'
              publishJUnitResults: true
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.11'
              sonarQubeRunAnalysis: false
          - publish: $(System.DefaultWorkingDirectory)/build/container-staging
            artifact: build-artifact
  - stage: 'Run_Tests'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Test'
        steps:
          - task: Gradle@2
            inputs:
              gradleWrapperFile: './gradlew'
              tasks: 'test'
              publishJUnitResults: true
              testResultsFiles: '**/TEST-*.xml'
              javaHomeOption: 'JDKVersion'
              jdkVersionOption: '1.11'
              sonarQubeRunAnalysis: false
  - stage: 'Dev_Release'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Release'
        steps:
          - download: current
            artifact: build-artifact
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-cli-install-task.CloudFoundryCLIInstall@0
            displayName: 'Install Cloud Foundry CLI 6.49.0'
            inputs:
              cfVersion: 6.49.0
          - bash: |
              # for some reason azure removes the executable bit on files, this re-adds them
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/ffmpeg
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/starter.sh
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-task.CloudFoundry@1
            displayName: 'Push to Cloud Foundry'
            inputs:
              cfEndpoint: 'CF Connectivity Non-Prod'
              org: 'Content and Media'
              space: 'AudioRecordings-NonProd'
              cfManifest: '$(Pipeline.Workspace)/s/manifests/manifest-dev.yml'
              workingDirectory: '$(Pipeline.Workspace)/build-artifact'
  - stage: 'Test_Release'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Release'
        steps:
          - download: current
            artifact: build-artifact
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-cli-install-task.CloudFoundryCLIInstall@0
            displayName: 'Install Cloud Foundry CLI 6.49.0'
            inputs:
              cfVersion: 6.49.0
          - bash: |
              # for some reason azure removes the executable bit on files, this re-adds them
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/ffmpeg
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/starter.sh
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-task.CloudFoundry@1
            displayName: 'Push to Cloud Foundry'
            inputs:
              cfEndpoint: 'CF Connectivity Non-Prod'
              org: 'Content and Media'
              space: 'AudioRecordings-NonProd'
              cfManifest: '$(Pipeline.Workspace)/s/manifests/manifest-test.yml'
              workingDirectory: '$(Pipeline.Workspace)/build-artifact'
  - stage: 'Stage_Approval'
    displayName: 'deploy to the Stage lane'
    jobs:
      - deployment: StageApproveDeploy
        displayName: 'Stage_Approve_Deploy'
        environment: 'Stage'
  - stage: 'Stage_Release'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Release'
        steps:
          - download: current
            artifact: build-artifact
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-cli-install-task.CloudFoundryCLIInstall@0
            displayName: 'Install Cloud Foundry CLI 6.49.0'
            inputs:
              cfVersion: 6.49.0
          - bash: |
              # for some reason azure removes the executable bit on files, this re-adds them
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/ffmpeg
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/starter.sh
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-task.CloudFoundry@1
            displayName: 'Push to Cloud Foundry'
            inputs:
              cfEndpoint: 'CF Connectivity Prod'
              org: 'Content and Media'
              space: 'AudioRecordings-Prod'
              cfManifest: '$(Pipeline.Workspace)/s/manifests/manifest-stage.yml'
              workingDirectory: '$(Pipeline.Workspace)/build-artifact'
  - stage: 'Prod_Approval'
    displayName: 'deploy to the Production lane'
    jobs:
      - deployment: ProdApproveDeploy
        displayName: 'Prod_Approve_Deploy'
        environment: 'Production'
  - stage: 'Production_Release'
    pool:
      name: 'Private Linux'
    jobs:
      - job: 'Release'
        steps:
          - download: current
            artifact: build-artifact
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-cli-install-task.CloudFoundryCLIInstall@0
            displayName: 'Install Cloud Foundry CLI 6.49.0'
            inputs:
              cfVersion: 6.49.0
          - bash: |
              # for some reason azure removes the executable bit on files, this re-adds them
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/ffmpeg
              chmod a+x $PIPELINE_WORKSPACE/build-artifact/starter.sh
          - task: ms-vsts.cloud-foundry-build-extension.cloud-foundry-task.CloudFoundry@1
            displayName: 'Push to Cloud Foundry'
            inputs:
              cfEndpoint: 'CF Connectivity Prod'
              org: 'Content and Media'
              space: 'AudioRecordings-Prod'
              cfManifest: '$(Pipeline.Workspace)/s/manifests/manifest-prod.yml'
              workingDirectory: '$(Pipeline.Workspace)/build-artifact'
