<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16C68</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>app_mode_loader</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Chrome.app.Default-hmjkmjkepdijhoojdojkdfohbdgmmhki</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Default hmjkmjkepdijhoojdojkdfohbdgmmhki</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.17264.1078</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3071.115</string>
	<key>CrAppModeProfileDir</key>
	<string>Default</string>
	<key>CrAppModeProfileName</key>
	<string>Default Profile</string>
	<key>CrAppModeShortcutID</key>
	<string>hmjkmjkepdijhoojdojkdfohbdgmmhki</string>
	<key>CrAppModeShortcutName</key>
	<string>Google Keep - notes and lists</string>
	<key>CrAppModeShortcutURL</key>
	<string></string>
	<key>CrAppModeUserDataDir</key>
	<string>/Users/lpjharri/Library/Application Support/Google/Chrome/Default/Web Applications/_crx_hmjkmjkepdijhoojdojkdfohbdgmmhki</string>
	<key>CrBundleIdentifier</key>
	<string>com.google.Chrome</string>
	<key>CrBundleVersion</key>
	<string>59.0.3071.115</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTSDKBuild</key>
	<string>10.10</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.9.0</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
