Host *
#ControlMaster auto
ControlPath ~/.ssh/connections/%r_%h_%p
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
IdentityFile ~/.ssh/github_rsa
#LogLevel DEBUG3

######################################################################
# Work Systems
######################################################################

Host dev1
HostName lpv-hwdevapp01.co.ihc.com
User lpjharri

Host dev2
HostName lpv-hwdevapp02.co.ihc.com
User lpjharri

Host ver1
HostName lpv-hwverapp01.co.ihc.com
User lpjharri

Host ver2
HostName lpv-hwverapp02.co.ihc.com
User lpjharri

Host ver3
HostName lpv-hwverapp03.co.ihc.com
User lpjharri

Host devdb1
HostName lpv-hwdevdb01.co.ihc.com
User lpjharri

Host prddb1
HostName lpv-hwprddb01.co.ihc.com
User lpjharri

######################################################################
# Personal Systems
######################################################################

# My own virtualbox guest fedora machine
Host jjjj
HostName 192.168.56.101
User lpjharri

# The next two are my own external to IH repositories
Host mygithub.com
User harris.johnny@gmail.com
Port 443
Hostname ssh.github.com
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

Host mybitbucket.org
#User harris.johnny@gmail.com
User jharrys
Port 443
HostName altssh.bitbucket.org
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth
