Host *
# Make connections resilient (short outages will be reconnected)
# this configuration will reconnect if outage is 10 minutes or less
TCPKeepAlive no
ServerAliveInterval 60
ServerAliveCountMax 10

# Quiet any banners (alternatively you can use the -q switch for each run)
LogLevel QUIET

# This enables persistent connections; this will cause connections to
# hang around for 2 hours after logging out.
ControlPersist 2h

#ControlMaster auto
ControlPath ~/.ssh/connections/%r_%h_%p
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
IdentityFile ~/.ssh/github_rsa
#LogLevel DEBUG3

######################################################################
# Temp Systems
######################################################################
Host hl7
HostName ec2-54-149-212-151.us-west-2.compute.amazonaws.com
User ec2-user
IdentityFile ~/.ssh/hwcir-baltimore.pem

######################################################################
# Work Systems
######################################################################

Host maven
ForwardAgent yes
HostName lpv-hwmaven01.co.ihc.com
User lpjharri

Host dev1
ForwardAgent yes
HostName lpv-hwdevapp01.co.ihc.com
User lpjharri

Host dev2
ForwardAgent yes
HostName lpv-hwdevapp02.co.ihc.com
User lpjharri

Host ver1
ForwardAgent yes
HostName lpv-hwverapp01.co.ihc.com
User lpjharri

Host ver2
ForwardAgent yes
HostName lpv-hwverapp02.co.ihc.com
User lpjharri

Host ver3
ForwardAgent yes
HostName lpv-hwverapp03.co.ihc.com
User lpjharri

Host devdb1
ForwardAgent yes
HostName lpv-hwdevdb01.co.ihc.com
User lpjharri

Host verdb1
ForwardAgent yes
HostName lpv-hwverdb01.co.ihc.com
User lpjharri

Host valdb1
ForwardAgent yes
HostName lpv-hwvaldb01.co.ihc.com
User lpjharri

Host prddb1
ForwardAgent yes
HostName lpv-hwprddb01.co.ihc.com
User lpjharri

######################################################################
# Personal Systems
######################################################################

# My own virtualbox guest fedora machine
Host jjjj
ForwardAgent yes
HostName 192.168.56.101
User lpjharri

# The next two are my own external to IH repositories
Host mygithub.com
User harris.johnny@gmail.com
Port 443
Hostname ssh.github.com
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

Host mybitbucket.org
#User harris.johnny@gmail.com
User jharrys
Port 443
HostName altssh.bitbucket.org
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth
