*~
.*~
*.swp
*.bak
*.tbcache
.CFUserTextEncoding
.ICEauthority
.IntelliJIdea80
.IntelliJIdea8x
.JIRAClient
.MacOSX
.Trash
.Xauthority
.Xcode
.adobe
.appcfg_cookies
.aqbanking
.audio-convert-mod
.bash_history
.boswars
.cache
.cddb
.cola
.config
.crash_*
.csshrc
.cups
.cupsdisabled
.dbus
.dia
.directory
.dmrc
.docx4all
.dvdcss
.eclipse
.eclipse_keyring
.emacs.d
.emerald
.esd_auth
.evolution
.face.icon
.filezilla
.fgfs
.fontconfig
.fonts
.fonts.conf
.fop
.forward
.gconf*
.gdb_history
.gitk
.gnome2
.gnome2_private
.gnupg
.google
.gpg-agent-info
.gstreamer-0.10
.gtk-bookmarks
.gtkrc-2.0-kde4
.imsettings.log
.inputrc
.install4j
.java
.javafx_eula_accepted
.javafxcache
.kbluetooth4
.kde
.kderc
.lesshst
.libvirt
.local
.localized
.m2
.macromedia
.marble
.mc
.mcop
.mcoprc
.mission-control
.missioncontrol
.mozilla
.mplayer
.mysql
.mysql_history
.nbprofiler
.netbeans
.netbeans-derby
.netbeans-registration
.netx
.netxrc
.nfs000000000057471200000001
.nvidia-settings-rc
.openoffice.org
.org.eclipse.epp.usagedata.recording.userId
.pki
.pulse
.pulse-cookie
.putty
.qemu-launcher
.qt
.recently-used.xbel
.sane
.serverauth*
.setroubleshoot
.sqldeveloper
.ssh
.subversion
.svnqt
.thumbnails
.uml
.vboxclient-*
.vfsjfilechooser
.viminfo
.virt-manager
.VirtualBox
.wapi
.weather.cfg
.xine
.xscreensaver-getimage.cache
.xsession-errors*
_viminfo
Applications
Code Splices
Desktop
Documents
Downloads
EBooks
Library
lpjharri
Movies
Music
Network
Pictures
Public
Sites
Templates
Tooling
VirtualBox VMs
Wallpaper
WorkCenter
Workspaces
.DCOPserver*
.pgadmin3
.pgpass
.psql_history
pgadmin.log
.vim/view
