Host *
#ControlMaster auto
ControlPath ~/.ssh/connections/%r_%h_%p
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
IdentityFile ~/.ssh/github_rsa
#LogLevel DEBUG3

# The Centrak virtual machine in the Transformation Lab
Host centrak
User lpjharri
HostName tlv-centrak01

# The next two are my own external to IH repositories
Host mygithub.com
User harris.johnny@gmail.com
Port 443
Hostname ssh.github.com
ProxyCommand /usr/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

Host mybitbucket.org
#User harris.johnny@gmail.com
User jharrys
Port 443
HostName altssh.bitbucket.org
ProxyCommand /usr/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

# The virtual server for EA for JIRA, etc.
Host solutions
HostName 159.212.143.162
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

# The virtual backend server for EA for JIRA, etc.
Host esaui solutions-db
HostName lpv-ideadev07
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
ForwardX11Trusted yes
User lpjharri

Host esa
HostName esaserver01
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
User oracle

Host plthruproxy
ProxyCommand connect -4 -p 22 -a userpass -d -S lpjharri@proxylp.ihc.com:8080 pl3.projectlocker.com 22
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

Host pl3.projectlocker.com
HostName pl3.projectlocker.com
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

Host mpivm2
HostName mpivm2.chpc.utah.edu
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host cibuild1
HostName mpivm2.chpc.utah.edu
User mpici
IdentityFile ~/.ssh/mpici.rsa_id
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host cibuild2
HostName mpivm3.chpc.utah.edu
IdentityFile ~/.ssh/mpici.rsa_id
User mpici
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mpivm3
HostName mpivm3.chpc.utah.edu
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mpigrant
HostName mpigrant
User john
PermitLocalCommand yes
ForwardX11Trusted yes

Host Xmpigrant
HostName mpigrant
PermitLocalCommand yes
ForwardX11Trusted yes
ForwardX11 yes

Host mirthmatch
HostName mirthmatch
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mirthconn
HostName mpimconn
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes
ForwardX11 yes
