Host *
#ControlMaster auto
ControlPath ~/.ssh/connections/%r_%h_%p
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
IdentityFile ~/.ssh/github_rsa
#LogLevel DEBUG3

# My own virtualbox guest fedora machine
Host jjjj
HostName 192.168.56.101
User lpjharri

# The Centrak virtual machine in the Transformation Lab
Host centrak
User lpjharri
HostName tlv-centrak01

# The next two are my own external to IH repositories
Host mygithub.com
User harris.johnny@gmail.com
Port 443
Hostname ssh.github.com
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

Host mybitbucket.org
#User harris.johnny@gmail.com
User jharrys
Port 443
HostName altssh.bitbucket.org
ProxyCommand /usr/local/bin/corkscrew proxylp.ihc.com 8080 %h %p ~/.ssh/.corkscrew-auth

# The virtual server for EA for JIRA, etc.
Host solutions
HostName 159.212.143.162
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

# The virtual backend server for EA for JIRA, etc.
# No longer used - 9/18/2015
Host esaui solutions-db
HostName lpv-ideadev07
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
ForwardX11Trusted yes
User lpjharri
