Host *
#ControlMaster auto
ControlPath ~/.ssh/connections/%r_%h_%p
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

Host zax
HostName 192.168.2.104
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
User john

Host esa
HostName esaserver01
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011
User oracle

Host pl3.projectlocker.com
HostName pl3.projectlocker.com
Compression yes
PermitLocalCommand yes
IdentityFile ~/.ssh/lpjharri-esa_id_rsa_2011

Host mpivm2
HostName mpivm2.chpc.utah.edu
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host cibuild1
HostName mpivm2.chpc.utah.edu
User mpici
IdentityFile ~/.ssh/mpici.rsa_id
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host cibuild2
HostName mpivm3.chpc.utah.edu
IdentityFile ~/.ssh/mpici.rsa_id
User mpici
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mpivm3
HostName mpivm3.chpc.utah.edu
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mpigrant
HostName mpigrant
User john
PermitLocalCommand yes
ForwardX11Trusted yes

Host Xmpigrant
HostName mpigrant
PermitLocalCommand yes
ForwardX11Trusted yes
ForwardX11 yes

Host mirthmatch
HostName mirthmatch
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes

Host mirthconn
HostName mpimconn
Compression yes
PermitLocalCommand yes
ForwardX11Trusted yes
ForwardX11 yes
